# Python
__pycache__/
*.pyc

# MLflow artifacts
mlruns/
**/mlruns/

# Weights & Biases logs
wandb/
**/wandb/

# Conda environments & temporary env files
*.yaml~
env/
venv/
.conda/

# Temporary directories
tmp/
*.tmp

# Do NOT track data artifacts
*.csv
clean_sample.csv
src/basic_cleaning/clean_sample.csv
rf_config.json
